<a href="https://colab.research.google.com/github/hieutrinhds/CS_Bootcamp/blob/master/W3_Daniel_FTMLE_Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Pandas

[Pandas](https://pandas.pydata.org/docs/index.html) is a Python package which is designed to make working with "relational" data both easy and intuitive. **Pandas is built on top of Numpy**.

There are two primary data structures of Pandas: [`Series`](https://pandas.pydata.org/docs/reference/api/pandas.Series.html#pandas.Series "pandas.Series") (1-dimensional) and [`DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame "pandas.DataFrame") (2-dimensional). Dataframe is a container for Series, and Series is a container for scalars. 

![alt text](https://pandas.pydata.org/docs/_images/01_table_dataframe.svg)

Pandas supports the integration with many file formats or data sources:

![alt text](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

This is a short introduction to pandas, geared mainly for new users. You can see more complex recipes in the [Cookbook](https://pandas.pydata.org/docs/user_guide/cookbook.html#cookbook).

**Import libraries**

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

sns.set_style("whitegrid")

## Object creation

In [4]:
# Creating a Series with default integer index
s = pd.Series([1, 2, 3, 4, 5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# Creating a DataFrame with a datetime index and labeled columns
dates = pd.date_range('20200531', periods=5)

df = pd.DataFrame(np.random.randn(5, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-05-31 -0.444815  0.297865 -0.323638  0.604077
2020-06-01 -1.295819  0.956723 -2.373778 -1.192990
2020-06-02  0.224029 -1.476423  0.200578  0.022282
2020-06-03  0.464458  0.930336  0.383419  0.637020
2020-06-04  0.271888 -0.740039  1.455968  2.078313

In [0]:
# Creating a DataFrame by passing a dict of keys as column names and series-like values
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20200531'),
                    'C': pd.Series([1, 2, 3, 4], index=list(range(4)), dtype='float32'),
                    'D': np.ones(4, dtype='int32'),
                    'E': pd.Categorical(["BMW", "Audi", "Toyota", np.nan]),
                    'F': 'VN'})
df2

In [0]:
# The columns of the resulting DataFrame have different dtypes
df2.info()

In [0]:
# Renaming columns
df = df.rename(columns = {'A':'a'})
# or 
# df.rename(columns = {'A':'a'}, inplace = True)

****

In [0]:
# Change the data type of a column
df['A'] = df['A'].astype('str')

In [0]:
# Drop columns
df['E'] = 1
df['F'] = 2
print(df)
df.drop(columns=['E', 'F'], axis = 1, inplace=True)
df

In [0]:
# Drop rows
df_temp = df.copy()
df_temp.drop(labels=df.index[:2], inplace=True)
df_temp

## Viewing data

In [0]:
df.head()       # first five rows

df.tail()       # last five rows

df.sample(5)    # random sample of rows

df.shape        # number of rows/columns in a tuple

df.describe()   # calculates measures of central tendency

df.info()       # memory footprint and datatypes

df.index        # display the index

df.columns      # display the columns

[`DataFrame.to_numpy()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_numpy.html#pandas.DataFrame.to_numpy "pandas.DataFrame.to_numpy") gives a NumPy representation of the underlying data. Note that this can be an expensive operation when your [`DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame "pandas.DataFrame") has columns with different data types, which comes down to a fundamental difference between pandas and NumPy: **NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column**.

>**Note:**
>DataFrame.to_numpy() does not include the index or column labels in the output.

In [0]:
df2.to_numpy()

**Sorting**

In [0]:
# Sort by index
df.sort_index(axis=0, ascending=False)

In [0]:
# Sort by column
df.sort_values(by='B')

In [0]:
# Sort by columns
df.sort_values(by=['B', 'A', 'D'], ascending=[True, True, False])

## Selection

In [0]:
# Selecting a single column
df['A']

In [0]:
# Selecting multiple columns
df[['A', 'B']]

**Selection by label**

In [0]:
df.loc['20200531']      # using a label

df.loc[:, ['A', 'B']]   # by list of columns

df.loc['20200531', 'A'] # Getting a scalar value at a specific position

**Selection by integer position**

In [0]:
df.iloc[3]                  # 4th row

df.iloc[3:5, 0:2]           # slicing, similar to numpy/python

df.iloc[[1, 2], [1, 3]]     # by list of integer position

df.iloc[2, 2]               # getting a value explicitly

**Boolean indexing**

In [0]:
df[df['B'] > 0]

In [0]:
df[df > 0]

In [0]:
# Using isin() method for filtering
df['E'] = ['one', 'one', 'two', 'three', 'three']
print(df)
df[df['E'].isin(['two', 'three'])]

## Data Manipulation

### Missing Data

pandas primarily uses the value `np.nan` to represent missing data. It is by default not included in computations.

In [0]:
df['E'] = 'VN'
df.loc[df.index[:2], 'E'] = np.nan
df

In [0]:
# To drop any rows that have missing data.
# how='any' : If any NA values are present, drop that row or column.  
# how='all' : If all values are NA, drop that row or column.  
df = df.dropna(how='any', axis=1)

In [0]:
# Filling missing data.
df.fillna(value='NA')

In [0]:
# To get the boolean mask where values are nan.
df.isna()

### Operations

**Aggregate function**

In [0]:
df['A'].sum() # Sum

df['A'].max() # Max

df['A'].min() # Min

df['A'].mean() # Arithmetic mean

df['A'].median() # Median

df['A'].mode() # Mode

df['A'].std() # Standard Deviation

df['A'].count() # Number of non-null values

**String manipulation**

In [0]:
df['E'].str.lower() # Lowercase string 

df['E'].str.upper() # Uppercase string

df['E'].str.capitalize() # Capitalize string

df['E'].str.len() # Return length of the string

df['E'].str.split(' ') # Split string by a character

df['E'].str.strip() # Remove spaces on the left and right of the string

df['E'].str.lstrip() # Remove spaces on the left of the string

df['E'].str.rstrip() # Remove spaces on the right of the string

df['E'].str.contains('V') # Check whether the string contains a substring

df['E'].str.findall(r'^[^AEIOU].*[^aeiou]$') # Extract substring based on a pattern (use flag 'r' for regex)

### Apply

In [0]:
# Applying functions to the data
df[['A', 'B']].apply(lambda x: x + 100)

In [0]:
def relu(z):
    return 0 if z < 0 else z

df['A'].apply(relu)

### Histogramming

In [0]:
# Counting distinct values in a column
df['E'].value_counts()

In [0]:
# Getting list of distict values
df['E'].unique()

In [0]:
# Getting number of distinct values
df['E'].nunique()

### Merge

**Concat**

In [0]:
# Rows of df1 followed by rows of df2
df = pd.concat([df1, df2])

# df2 to the right side of df1
df = pd.concat([df1, df2], axis = 1)

**Joining two DataFrames**

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/dhminh1024/practice_datasets/master/titanic.csv')

df_left = df[['Name','PClass']]
df_right = df[['Name','Survived']]

df_inner = pd.merge(df_left, df_right, on = 'Name', how = 'inner') # Inner join

df_outer = pd.merge(df_left, df_right, on = 'Name', how = 'outer') # Outer outer join

df_right = pd.merge(df_left, df_right, on = 'Name', how = 'right') # Right outer join

df_left = pd.merge(df_left, df_right, on = 'Name', how = 'left') # Left join

### Grouping

By "group by" we are referring to a process involving one or more of the following steps:
* **Splitting** the data into groups based on some criteria
* **Applying** a function to each group independently
* **Combining** the results into a data structure

In [0]:
df2 = pd.DataFrame({'A': ['Group 1', 'Group 2', 'Group 1', 'Group 2',
                         'Group 1', 'Group 2', 'Group 1', 'Group 1'],
                   'B': ['Team 1', 'Team 1', 'Team 2', 'Team 3',
                         'Team 2', 'Team 2', 'Team 1', 'Team 3'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})

df2.groupby('A').sum()

In [0]:
df2.groupby(['A', 'B']).sum()

## Plotting

On a DataFrame, the plot() method is a convenience to plot all of the columns with labels:

In [0]:
ts = pd.Series(np.random.randn(1000),
               index=pd.date_range('1/1/2000', periods=1000))

ts = ts.cumsum()
ts.plot()

In [0]:
ts2 = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                  columns=['A', 'B', 'C', 'D'])

ts2 = ts2.cumsum()

plt.figure()
ts2.plot()
plt.legend(loc='best')
plt.show()

## Getting data in/out

**CSV file**

In [0]:
# Writing to a csv file
df.to_csv('foo.csv')

In [0]:
# Reading from a csv file
pd.read_csv('foo.csv')

**HDF5**

In [0]:
# Writing to a HDF5 Store
df.to_hdf('foo.h5', 'df')

In [0]:
# Reading from a HDF5 Store
pd.read_hdf('foo.h5', 'df')

**Excel**

In [0]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

In [0]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])